resources/examples.npz
resources/test_images.npz
resources/training_images_full.npz
resources/training_images_subset.npz
2_regressor
2_results
2_results_train
first_regressor.dictionary
first_results.dictionary
first_train_results
3_regressor
3_train_results
3_test_results
sub_regressor_1
sub_results_1
sub_regressor_2
sub_results_2
sub_test_results_2
ult_regressor_1
ult_results_1
ult_test_results_1
ult_regressor_2
ult_results_2
ult_regressor_3
ult_results_3
ult_test_results_3
sub_regressor_3
sub_train_results_3
sub_valid_results_3
sub_exam_results_3
sub_regressor_4
sub_regressor_5
sub_train_results_4
sub_train_results_5
sub_valid_results_4
sub_valid_results_5
ult_exam_res_5
ult_train_results_4
ult_train_results_5
ult_valid_results_4
ult_valid_results_5
test.py
test.py
